    <div class="addcont">
      <div class="chead">
        <b>ADD TV SHOW</b>
      </div>
      <div class="cbody">
        <form class="">
          <label for="addval">Name</label>
          <input id="movieaddbox" class="form-control" type="text" name="addval" placeholder="Enter TV Show Name" onmouseout="checkval(movieaddbox);" onchange="checkval(movieaddbox);">

          <p id="Message2"></p>

          <button id="normbut" class="btn btn-primary" type="button" name="button" disabled=true onclick="output();">Add</button>
        </form>
      </div>
    </div>
