<div class="jumbotron text-center">
      <ul class="xpagination">
        <li><a id="ch-btn xactive" href="" onclick="filterSelection('0-9');return false">0-9</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('A');return false">A</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('B');return false">B</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('C');return false">C</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('D');return false">D</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('E');return false">E</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('F');return false">F</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('G');return false">G</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('H');return false">H</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('I');return false">I</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('J');return false">J</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('K');return false">K</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('L');return false">L</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('M');return false">M</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('N');return false">N</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('O');return false">O</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('P');return false">P</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('Q');return false">Q</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('R');return false">R</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('S');return false">S</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('T');return false">T</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('U');return false">U</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('V');return false">V</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('W');return false">W</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('X');return false">X</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('Y');return false">Y</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('Z');return false">Z</a></li>
      </ul>
      <br>
      <ul class="pager">
        <li><a id="ch-btn" href="" onclick="filterSelection('action');return false">Action</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('adventure');return false">Adventure</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('animation');return false">Animation</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('children');return false">Children</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('comedy');return false">Comedy</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('crime');return false">Crime</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('documentary');return false">Documentary</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('drama');return false">Drama</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('family');return false">Family</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('fantasy');return false">Fantasy</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('food');return false">Food</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('home');return false">Home & Garden</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('horror');return false">Horror</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('miniseiries');return false">Mini-Series</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('mystery');return false">Mystery</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('news');return false">News</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('reality');return false">Reality</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('scifi');return false">Sci-Fi</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('sport');return false">Sport</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('suspense');return false">Suspense</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('talkshow');return false">Talk Show</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('thriller');return false">Thriller</a></li>
        <li><a id="ch-btn" href="" onclick="filterSelection('travel');return false">Travel</a></li>
      </ul>
    </div>
    <div class="indexcontainer">
      <div class="ihead">
        <h2>Top 12 Shows</h2>
        <input class="xsearch" type="button" onclick="search(searchitem)" value="search">
        <input class="xsearch" type="text" id="searchitem" placeholder="search">
      </div>
      <div id="rootus" class="ibody">

        <div class="imgframe S action horror adventure fantasy comedy show"> <!-- supernatural horror action comedy -->
          <div class="img-holder">
            <a href="desc.html"><img src="images/imgsn.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Supernatural</p>
            <p class="epsd"><b>Episodes :</b> 287</p>
          </div>

        </div>

        <div class="imgframe 0-9 thriller mystery suspense show"> <!-- 13 mystery drama thriller -->
          <div class="img-holder">
            <a href="#"><img src="images/img13.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">13 Reasons WHY?</p>
            <p class="epsd"><b>Episodes :</b> 26</p>
          </div>
        </div>

        <div class="imgframe A action adventure drama comedy show"> <!-- arrow action drama crime -->
          <div class="img-holder">
            <a href="#"><img src="images/imgar.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">ARROW</p>
            <p class="epsd"><b>Episodes :</b> 161</p>
          </div>
        </div>

        <div class="imgframe B scifi suspense thriller crime show"> <!-- breakingbad crime thriller suspense action -->
          <div class="img-holder">
            <a href="#"><img src="images/imgbb.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Breaking Bad</p>
            <p class="epsd"><b>Episodes :</b> 62</p>
          </div>
        </div>

        <div class="imgframe B scifi drama comedy show"> <!-- bigbangtheory -->
          <div class="img-holder">
            <a href="#"><img src="images/imgbbt.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Big Bang Theory</p>
            <p class="epsd"><b>Episodes :</b> 255</p>
          </div>
        </div>

        <div class="imgframe B drama adventure crime suspense show"> <!-- bettercallsaul -->
          <div class="img-holder">
            <a href="#"><img src="images/imgbcs.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Better Call Saul</p>
            <p class="epsd"><b>Episodes :</b> 30</p>
          </div>
        </div>

        <div class="imgframe G fantasy mystery adventure action show"> <!-- gameofthrones -->
          <div class="img-holder">
            <a href="#"><img src="images/imggot.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Game of Thrones</p>
            <p class="epsd"><b>Episodes :</b> 67</p>
          </div>
        </div>

        <div class="imgframe H food thriller mystery crime show"> <!-- hannibal -->
          <div class="img-holder">
            <a href="#"><img src="images/imghan.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Hannibal</p>
            <p class="epsd"><b>Episodes :</b> 39</p>
          </div>
        </div>

        <div class="imgframe H adventure thriller crime documentary show"> <!-- houseofcards -->
          <div class="img-holder">
            <a href="#"><img src="images/imghoc.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">House of Cards</p>
            <p class="epsd"><b>Episodes :</b> 65</p>
          </div>
        </div>

        <div class="imgframe I action scifi adventure horror show"> <!-- izombie -->
          <div class="img-holder">
            <a href="#"><img src="images/imgiz.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">I ZOMBIE</p>
            <p class="epsd"><b>Episodes :</b> 58</p>
          </div>
        </div>

        <div class="imgframe L horror comedy thriller action fantasy show"> <!-- lucifer -->
          <div class="img-holder">
            <a href="#"><img src="images/imgluc.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">Lucifer</p>
            <p class="epsd"><b>Episodes :</b> 57</p>
          </div>
        </div>

        <div class="imgframe T horror thriller action crime show"> <!-- theoriginals -->
          <div class="img-holder">
            <a href="#"><img src="images/imgorg.jpg" alt=""></a>
          </div>
          <div class="ititle">
            <p class="title">The Originals</p>
            <p class="epsd"><b>Episodes :</b> 86</p>
          </div>
        </div>

      </div>
    </div>
