<div class="supform">
  <div class="frm-cont">
    <span class="frm-login">Login</span>
    <form action="/login" method="post">

      <input id="mailer" name="email" type="email" class="email form-control" placeholder="Email">
      <p style="color:red;margin-left:32px;" id="mailmsg"></p>
      <input id="passsword"  name="password" type="password" class="pwd form-control" placeholder="Password">
      <p id="Message" style="color:red;margin-left:32px;"></p>
      <button type="submit" class="form-control btn btn-success" name="button">Log in</button>
    </form>
    <p class="loglink"><b><a href="/forgot">Forgot your password</a></b> </p>
    <p class="loglink">Don't have an account yet? <b><a href="/signup">Sign up</a></b> </p>



    <a href="/auth/facebook"  class="btn btn-default fb"> <img src="images/fbico.png" alt="">Sign in with Facebook </a><br>
    <a href="/auth/google" class="btn btn-default google"> <img src="images/googico.png" alt=""> Sign in with Google </a>
  </div>
</div>
